.btn-eco-light {
    background-color: #3b850d; /* light green */
    color: #fff; /* white text */
    border: none;
    transition: background-color 0.3s;
}

.btn-eco-light:hover {
    background-color: #8CC157; 
    color: #fff;
}

.clients-section img {
    filter: grayscale(100%);
    opacity: 0.7;
    transition: all 0.3s;
}

.clients-section img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.05);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #6CC24A; /* eco green */
    border-radius: 50%;
    padding: 10px;
}

.clients-section h5 {
    display: inline-block;
    margin: 0 1.5rem;
    font-weight: 600;
    color: #212529; /* dark text */
    transition: transform 0.3s, color 0.3s;
}

.clients-section h5:hover {
    color: #6CC24A; /* eco green on hover */
    transform: scale(1.1);
}
